.landmarkPage {
  width: 70%;
  margin: 0 auto;
  padding: 0 10px;

  .title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
  }

  .dateOfFoundation {
    color: #666;
  }

  .carouselWrapper {
    margin-top: 20px;
    position: relative;
    .controlArrows {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      padding: 0 10px;

      button {
        color: #1677ff;
      }
    }

    .carousel {
      .carouselImageWrapper {
        position: relative;
        height: 700px;

        .carouselImage {
          border-radius: 10px;
        }
      }
    }
  }

  .subTittle {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }

  .description {
    font-size: 1.2rem;
    text-align: justify;
  }

  .iframeStyles {
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 10px;
  }
}

@media (max-width: 1600px) {
  .landmarkPage {
    .carouselWrapper {
      .carousel {
        .carouselImageWrapper {
          height: 600px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .landmarkPage {
    width: 80%;

    .carouselWrapper {
      .carousel {
        .carouselImageWrapper {
          height: 500px;
        }
      }
    }

    .iframeStyles {
      height: 500px;
    }
  }
}

@media (max-width: 992px) {
  .landmarkPage {
    .carouselWrapper {
      .carousel {
        .carouselImageWrapper {
          height: 400px;
        }
      }
    }

    .iframeStyles {
      height: 400px;
    }
  }
}

@media (max-width: 768px) {
  .landmarkPage {
    width: 90%;

    .carouselWrapper {
      .controlArrows {
        display: none;
      }

      .carousel {
        .carouselImageWrapper {
          height: 350px;
        }
      }
    }

    .description {
      font-size: 1.1rem;
    }

    .iframeStyles {
      height: 350px;
    }
  }
}

@media (max-width: 576px) {
  .landmarkPage {
    width: 100%;

    .carouselWrapper {
      .carousel {
        .carouselImageWrapper {
          height: 300px;
        }
      }
    }

    .description {
      font-size: 1rem;
    }

    .iframeStyles {
      height: 300px;
    }
  }
}
