.header {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;

  .burger {
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;
  }

  .top {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    gap: 20px;
  }

  .svgWhite {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(352deg)
      brightness(101%) contrast(102%);
  }
}

@media (max-width: 768px) {
  .header {
    .burger {
      display: block;
    }

    .top {
      margin-left: 0;
      flex-direction: column;
      align-items: center;
    }
  }

  .navMenu {
    display: none;
  }
}
