.header {
  display: flex;
  flex-direction: column;
  z-index: 2;

  .top {
    margin-top: 20px;
    margin-left: 15px;
    display: flex;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    .top {
      margin-left: 0;
      flex-direction: column;
      align-items: center;
    }
  }
}
